<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
  <body ng-app="myModule" ng-controller="addController">
  <nav class="navbar bg-body-tertiary p-4 bg-success-subtle">
    <div class="container-fluid">
      <a class="navbar-brand text-success">Go Grocery</a>
       <div class="d-flex w-25 justify-content-evenly">
         <button  class="btn btn-outline-success" ng-click="">Buy grocery</button>
         <button  class="btn btn-outline-success" ng-click="addgrocery()">Add grocery</button>
        </div>
      </div>
    </div>
  </nav>
  <section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <div>
            </div>
          </div>
  
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center" ng-repeat="grocery in groceries">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                  ng-src="{{ grocery.groceryImage }}"
                    class="img-fluid rounded-3" alt="...">
                </div>
                <div class="col col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{ grocery.groceryName }}</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{ grocery.groceryPrice}}</h5>
                </div>
                <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
      
                  <input id="form1" min="0" name="quantity" value="2" type="number"
                    class="form-control form-control-sm" />
      
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div> -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

  </section>
</body>
</html>