<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.27/angular-ui-router.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<style>
  .dropdown-menu {
      display: none;
  }
  .dropdown:hover .dropdown-menu {
      display: block;
  }
  .fa {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


</style>
<body ng-app="myModule" ng-controller="mainController">
    <nav class="navbar bg-body-tertiary p-3 bg-success-subtle">
  <div class="container-fluid">
    <h3 class="navbar-brand text-success">Go Grocery</h3>
    <form class="d-flex w-50 " role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success  " type="submit">Search</button>
    </form>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-outline-success" ng-click="logout()">Logout</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-success" ng-click="filter()">Filter</button>
      </div>
        <div class="col-md-4">
          <a ui-sref="add" class="link-dark"><i class="fa fa-shopping-cart" style="font-size:24px">cart</i></a>
      </div>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
         <img src="images/gemma-stpjHJGqZyw-unsplash(2).jpg" class="img-fluid" alt="image">
       </div>
      </div>

    </div>
  </div>
</div>

<div class=" mt-5">
    <div class="d-grid">
      <div class="row justify-content-md-center bg-success-subtle shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <!-- <div class="col col-lg-3">
        <div class="p-4">
            <div class="card">
              <div class="row">
                    <img src="images/apple_158989157.jpg" class="card-img-top" alt="image">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">Apple</h5>
                    <p class="text-center">Rs: 100/kg</p>
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-6">
                              <button class="btn btn-outline-success" ng-click="details('Apple', 100)">Details</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline-success" ng-click="add()">Buy</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="p-4">
          <div class="card">
            <img src="images/photo-1571771894821-ce9b6c11b08e.avif" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title text-center">Banana</h5>
              <p class="text-center">Rs: 50/kg</p>
              <div class="d-flex justify-content-center">
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-outline-success" ng-click="details('Banana', 50)">Details</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-outline-success" ng-click="add()">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div ng-repeat="product in products" class="col col-lg-3">
        <div class="p-4">
            <div class="card">
                <div class="row">
                    <img src="https://10.21.84.138:8000{{ product.image }}" class="card-img-top" alt="image">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{ product.name }}</h5>
                    <p class="d-flex justify-content-center">Rs. {{ product.price }}/kg</p>
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-outline-success" ng-click="details(product.id)">Details</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline-success" ng-click="add()">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
      <div class="modal" ng-class="{ 'show': Modal, 'd-block': Modal }">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ selectedProductName }} Details</h5>
                  <button type="button" class="btn-close" ng-click="closeModal()"></button>
                </div>
                <div class="modal-body">
                  <p>Name: {{ selectedProductName }}</p>
                  <p>Price: {{ selectedProductPrice }}</p>
                  <p>Price: {{ selectedProductDescription }}</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-outline-success" ng-click="closeModal()">Close</button>
                </div>
              </div>
            </div>
    </div>

  </div>
    </div>
    </div>

  <div class="d-flex justify-content-center">
    <h4 class="text-dark ">Brand Names & Products</h4>
  </div>
  <div class="mt-5">
  <div class="container text-center ">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
        <div class="card" >
          <div class="row">
            <img src="images/DALL·E 2023-07-21 15.30.03 - images of eatable producing brands.png" class="card-img-top" alt="image">
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" >
        <div class="row">
          <img src="images/DALL·E 2023-07-21 15.30.19 - images of eatable producing brands.png" class="card-img-top" alt="image">
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card" >
        <div class="row">
          <img src="images/DALL·E 2023-07-21 15.30.24 - images of eatable producing brands.png" class="card-img-top" alt="image">
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card" >
        <div class="row">
          <img src="images/DALL·E 2023-07-21 15.30.31 - images of eatable producing brands.png" class="card-img-top" alt="image">
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card" >
        <div class="row">
          <img src="images/DALL·E 2023-07-21 15.35.43 - images of eatable producing brands.png" class="card-img-top" alt="image">
        </div>
    </div>
    </div>
  </div>
</div> 
</div>
<hr class="mt-5">
<div class="mt-5">
 
  <footer
          class="text-center text-lg-start text-dark rounded  "
          >
 
    <section
             class="d-flex justify-content-between p-4 text-white bg-body-tertiary p-4 bg-success-subtle rounded" 
            
             >
   
      <div class="me-5">
        <h5 class="text-success">Go grocery</h5>
      </div>
    </section>
    
    <section class="mt-5">
      <div class="container text-center text-md-start">
        
        <div class="row">
       
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        
            <h6 class="text-uppercase fw-bold">About</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Online grocery shopping sites make it easy for you to order groceries and have them delivered to your home, with most companies having a similar process for ordering their products online.
            </p>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
             
Amul, Nescafe , MTR, RED BULL , elite cake, Pediasure, Yummiez, Yera, Yakult, Britannia, Wow Momo, Fortune , Haldirams , Ferrero, Lays, Patanjali, McCain, kwality walls, Cadbury Dairy Milk, Pedigree,

          </div>
        
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold">Help</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
             If your query is of urgent nature and is different from the set of questions then please contact us at:
Email: customerservice@gogrocery.com

            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>Call us: 1860 123 1000
            </p>
          </div>
       
        </div>
       
      </div>
    </section>
    <div class="text-center p-2 bg-success-subtle">
        <div>
          <span class="text-uppercase fw-bold">LOGIN WITH SOCIAL MEDIA</span>
      </div>
      <div class=" d-flex justify-content-center text-center">
        <div class="row">
          <div class="col">
            <div class="p-3"><a href="https://www.facebook.com/" class="fa fa-facebook"></a></div>
          </div>
          <div class="col">
            <div class="p-3"><a href="https://www.google.com/" class="fa fa-google"></a></div>
          </div>
          <div class="col">
            <div class="p-3"><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></div>
          </div>
          <div class="col">
            <div class="p-3"><a href="https://www.twitter.com/" class="fa fa-twitter"></a></div>
          </div>
        </div>
      </div>
    </div>
</div>

</body>
</html>
