<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="angular/angular.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="style.css">
<body ng-app="myModule" ng-controller="myController"> 
    <div class="heading">
        <h1>TO DO LIST</h1>
    </div>
    <div class="elements">
        <div id="container">
        <br>
        <div id="input">
            <input type="text" ng-model="newTodo" placeholder="ADD/EDIT THINGS TO DO" id="type">
            <button ng-click="addTodo()" id="add">ADD</button>
        </div>
        <br>
        <div id="table">
            <table>
                <thead>
                    <tr>
                        <th>THINGS TO DO</th>
                        <th id="time">TIME</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="show in List track by $index" ng-show="showRow($index)">
                        <td>{{show.text}}</td>
                        <td>{{show.time | date:"mediumTime"}}</td>
                        <td><button id="remove" ng-click="remove($index)">DELETE</button></td>
                        <td><button id="edit" ng-click="edit($index)">EDIT</button></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="templete">
        <img src="project-management-goal-completion-list-questionnaire-survey-answering-business-organization-tool_335657-3289.avif" alt="">
    </div>
</div>   
</body>
</html>
